.input-fields-container input{
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0,0,0,.88);
    font-size: 14px;
    line-height: 1.5;
    list-style: none;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    position: relative;
    display: inline-block;
    min-width: 0;
    background-color: #fff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all .2s;
}

.is-error input{
    border-color : #ff4d4f;
}

.input-validate-error{
    display: flex;
    flex-wrap: nowrap;
    font-size:12px;
    color : #ff4d4f
}

.submit-button{
    color: #fff;
    background-color: #1677ff;
    box-shadow: 0 2px 0 rgba(5,145,255,.1);
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
    outline: none;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
}

.submit-button:hover{
    color: #fff;
    background-color: #4096ff;
}

.form-err-msg{
    margin-top:1rem;
}